<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${postsDto.title}"></h2>

<p th:inline="text">작성일 [[${#temporals.format(postsDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>
<!--TODO 나중에 고쳐야함-->
<p th:inline="text">조회수 [[${postsDto.view}]] </p>
<p th:text="${postsDto.content}"></p>

<!-- 수정/삭제 -->
<div>
    <a th:href="@{'/posts/edit/' + ${postsDto.id}}">
        <button>수정</button>
    </a>
    <form id="delete-form" th:action="@{'/posts/' + ${postsDto.id}}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button id="delete-btn">삭제</button>
    </form>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var postsDto = /*[[${postsDto}]]*/ "";
    /*]]>*/
</script>
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>