<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
</head>

<body class="text-center">
<form th:action="@{/account/process}" method="post">
    <a th:href="@{/}">홈으로</a>
    <h1>Please sign in</h1>
    <div th:if="${param.error}" role="alert">
        아이디 또는 비밀번호가 잘못됨
    </div>
    <div th:if="${param.logout}" role="alert">
        로그아웃됨
    </div>
    <label for="username" >Id</label>
    <input type="text" id="username" name="memberId" placeholder="Username" required autofocus>
    <label for="inputPassword" >Password</label>
    <input type="password" id="inputPassword" name="memberPwd" placeholder="Password" required>

    <button type="submit">Sign in</button>
</form>

</body>
</html>